.ContainerCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  

}

.Mensaje {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BCart {
    display: flex;
    justify-content: center;
    align-items: center;

}



