 .ListGroup {
     width: 100%;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     margin: 20px;
     display: flex; 
     flex-wrap: wrap; 
     justify-content: center;
 }